#login
  form
    ul
      li.username
        input(type='text', placeholder='Username')
      li.password
        input(type='password', placeholder='Password')
    input(type='submit', value='Log in')