#menu
  ul
    li.login.menu-item
    li.tags.menu-item
      a(href='/tags') Tags
    li.all-events.menu-item
      a(href='/events') All events
    if App.User.isLoggedIn()
      li.all-events.menu-item
        a(href='/') Your events
