mixin menuItem(className, url, text)
  a(href=url)
    li(class=className + ' menu-item')= text

#menu
  ul
    li.login
    mixin menuItem('tags', '/tags', 'Tags')
    mixin menuItem('all-events', '/events', 'All events')
    if App.User.isLoggedIn()
      mixin menuItem('your-events', '/', 'Your events')
      mixin menuItem('calendar', '/firstTime', 'Your calendar')
