#login.form
  h2 Please enter your Imperial login below
  p.security-info We only use your login to check that you're an Imperial student, and <em>never</em> store your password.
  form
    input(type='text', placeholder='Username')
    input(type='password', placeholder='Password')
    input(type='submit', value='Log in')
    input(type='button', value='Cancel')

