#login
  padding 20px
  
  h2
    font-weight: 600
    margin-bottom: 15px
    
  p.security-info
    font-size: 14px
    color: #666
    margin-bottom: 35px
  
  li
    margin-bottom 20px
    clear both
    height 30px
    
    label
      float left
      width 30%
      font-weight 600
      text-align right
      line-height 30px
      padding-right: 25px
      margin-left: -25px
      
    input[type=text], input[type=password]
      float left
      width 70%
      background #fff
      border 1px solid #ccc
      height: 30px
      margin: 0
      padding: 0 5px
      margin-left: -12px
    
  input[type=button], input[type=submit]
    float right
    margin-left 20px
    border none
    padding 5px 10px
    margin-top 10px
    
  input[type=submit]
    background-color #275d91
    color #fff
    
  input[type=button]
    background-color #aaa
    color #444
    