#login
  h2 Enter your Imperial login below to subscribe to tags and track events
  p.security-info We only use your login to check that you're an Imperial student, and <em>never</em> store your password.
  form
    ul
      li
        label Username
        input(type='text')
      li
        label Password
        input(type='password')
    input(type='submit', value='Log in')
    input(type='button', value='Cancel')
        