#login, #logout
  padding 5px

  ul
    margin 0
    padding 0

    li
      float left
      clear none
      width 35%

    li.username
      margin-right 10px

    input[type=text], input[type=password]
      border 1px solid #ccc
      margin 0

  input[type=submit]
    float right
    margin 0
    line-height 30px

