#login
  padding 20px
  
  h2
    font-weight: 600
    margin-bottom: 15px
    
  p.security-info
    font-size: 14px
    color: #666
    margin-bottom: 35px
  
  li
    margin-bottom 20px
    clear both
    height 30px
    
    label
      float left
      width 30%
      font-weight 600
      text-align right
      line-height 30px
      padding-right: 25px
      margin-left: -25px
    