!!! 5
head
  title Events
  link(rel='stylesheet', href='css/app.css', type='text/css')

body    
  #content
    
  script(language='Javascript', src='js/app.js', type='text/javascript')
  script(language='Javascript', src='js/boot.js', type='text/javascript')