!!! 5
head
  title Events
  link(rel='stylesheet', href='css/app.css', type='text/css')
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
  meta(name="apple-mobile-web-app-capable", content="yes")
  
  script(type='text/javascript', src='http://use.typekit.net/otn2arw.js')
  script(type='text/javascript')
    try{Typekit.load();}catch(e){}

body
  #content
    #app
      nav#navbar
        a#back(href='') &larr;
        a#accessory-button.icon-reorder(href='')
          .inner Accessory
        h1
          .inner
      #container
        #helper-view
        #main-view
      #bottom-bar

  script(type='text/javascript', src='js/app.js')
  script(type='text/javascript', src='js/boot.js')
