- mainUrl = "calendar.google.com"

h2.step Step 1
p Log into gmail by going to
a(href=mainUrl) gmail logon page

h2.step Step 2
p Click on the arrow from other calendars
p Click import from URL

h2.step Step 3
p Enter into the address URL
input(value=url, placeholder="Fetching your ical url.")

p Click Add
p Congratulations. You have just added a calendar.