- url1 = "calendar.live.com"
#subscribe
  h2 Step 1
  p Open the following webpage
  a(href=url1)=url1

  h2 Step 2
  p Click on the import button.
  p Once inside press the subscribe panel option.

  h2 Step 3
  p Copy your unique URL from the text box below
  input.url(value=url, placeholder="Fetching your ical url.")

  p Paste it into the browser

  h2 Step 4
  p Click Add.
  p The calendar entries to which you have subscribed should be imported now.