- url1 = "calendar.live.com"
h2 Step 1
p Open the following webpage
a(href=url1) outlook logon

h2 Step 2
p Click on the import button.
p Once inside press the subscribe panel option.

h2 Step 3
p Under calendar url paste the following
input(value=url, placeholder="Fetching your ical url.")

p Fill in the rest of the details as you wish

h2 Step 4
p Click Add.
p The calendar entries to which you have subscribed should be imported now.