#not-found
  img(src='/images/stage_dive_fail.jpg', title='Source: http://funcorner.eu/wp-content/uploads/2011/04/stage-diving-fail.jpg')
  #content
    p
      strong The page you were looking at doesn't exist!
    p Perhaps you were looking for:
    ul
      li 
        a(href='/') Events happening around campus
      li
        a(href='/tags/') Interesting tags to follow