a.subscribe-button
  color #def5e3
  background-color #7191b0
  padding 0 10px

  .icon
    line-height 46px
    font-size 18px

  span
    margin-left 5px
    text-shadow 0 1px #3e556c

a.subscribe-button.subscribed
  background-color #689972  
  
  span
    text-shadow 0 2px 0 #577c5f