.form
  max-width 640px
  margin auto

form

  label
    display block
    margin-top 20px

  input[type=text], input[type=password], textarea
    display inline-block
    vertical-align center
    text-align center
    margin 10px 0 0 0
    padding 10px 0
    width 100%
    border none

  input[type=button], input[type=submit]
    float right
    margin-left 20px
    border none
    padding 5px 10px
    margin-top 10px

  input[type=submit]
    background-color #275d91
    color #fff

  input[type=button]
    background-color #aaa
    color #444

