#firstTime
  li
    display block
    line-height 2

  .subscription
    display: inline
    float: left
    color: rgb(35, 54, 73)
    text-shadow: 0px 1px 0px rgb(143, 169, 194)
    background-color: rgb(84, 125, 166)
    padding 50px 20px
    margin 10px
    width 100px
    text-align: center

  .step
    color: black

  span
    font-size: small
    color: gray

  .disabled
    color: gray