#firstTime
    h1 Subscribe your calendars on your phone/mail clients.
    ul
        li
            a(href="/ical/subscribe/outlook").button Outlook
        li
            a(href="/ical/subscribe/gmail").button Gmail
        li
            a(href=url).button iCal or iPhone