#firstTime
    h1 Quick start guide.
    span Personalize your app in 2 steps.

    h3.step Step 1
    | Subscribe to the calendar or the RSS to keep track of all subscribed calendars on your phone/mail.
    br
    a(href="/ical/subscribe/outlook").button Outlook
    br
    a(href="/ical/subscribe/gmail").button Gmail
    br
    a(href=url).button iCal or iPhone
    br
    a(href="rssUrl").button Your personalized RSS feed

    h3.step Step 2
    p Explore the events Imperial has to offer.
    p Subscribe to all of the interesting events.
    a(href="/events/").button Start using the app