#firstTime
    h1 Subscribe to your calendars with your phone/mail clients.
    ul
        li
            a(href="/ical/subscribe/outlook").subscription Outlook
        li
            a(href="/ical/subscribe/gmail").subscription Gmail
        li
            a(href=url).subscription iCal
