#event-view
  padding 0 20px
  .image
    max-height 288px
    overflow hidden
    margin 0 -20px    // Account for the left and right padding.
  img
    max-width 100%
  header
    margin-bottom 20px
  h1
    margin-top: 20px
    font-size 30px
  p.location
    color: #666
