#event-view
  padding 30px
  
  .image
    max-height 288px
    overflow hidden
    margin -30px -30px 0 -30px    // Account for the padding
    background: #000
  img
    max-width 100%
    margin: 0 auto;
  header
    margin-bottom 20px
  h1
    margin-top: 20px
    font-size 30px
  p.location
    color: #666
    margin-top  15px
    //     margin-left: -20px
    //     padding-left: 20px
    //     background: url('../images/location_tag.png') 0 3px no-repeat
  p.date
    font-size: 120%
    strong
      margin-left: 5px
      color: #333
    strong.today
      color: #bc3989
      
  ul.tags
    margin-bottom 20px
  
    li
      display inline-block
      margin-right 10px
      margin-top 10px
      padding 2px 5px
      background #9dc0dd
      color #2b465c

.button
  float: left
