.events-list
  a.button-right(href='', onclick='return false;', class=subscribed ? 'subscribed' : 'not-subscribed')
    .icon(class=subscribed ? 'icon-check' : 'icon-plus-sign-alt')
    span= subscribed ? 'Subscribed' : 'Subscribe'