#events-list
  - if (typeof loading !== "undefined" && loading) {
  #loading
    h2 Loading Events...
  - }
  - if (typeof noEvents !== "undefined" && noEvents) {
  #no-events
    h2 No events.
  - }
  - else {
    p Filter data:
    input.filter(name="filter", value=filter, placeholder="Search")
  - }
  #days
