#events-list
  ul
    list-style-type none
    list-style-position outside
    margin 0
    padding 0

  li
    background-color #fff
    border-bottom 1px solid #ccc
    margin 0
    padding 24px

    *last-child
      margin-bottom 0

  h2
    font-weight 500
    margin-top 0

  p
    color #444
    font-size 12px

  .day-header
    text-align center
    padding-top 0.5em
    padding-bottom 0.5em
    p
      margin 0
      font-weight bold
