#events-list
  for day in days
    .day
      .day-header
        p= day.date.format('dddd, MMMM Do YYYY')
      .day-events
        ul
          for event in day.events
            li
              .event
                .time
                  p= moment.unix(event.get('date')).format('H:mm')
                .info
                  h2.name= event.get('name')
                  p.location= event.get('location')

