#events-list
  for day in days
    .day
      .day-header
        p= day.date.format('dddd, MMMM Do YYYY')
      .day-events
        table
          for event in day.events
            a(href='/event/' + event.get('id'))
              tr
                td.time
                  span= moment.unix(event.get('date')).format('H:mm')
                td.info
                  h2.name= event.get('name')
                  p.location= event.get('location')

