@import 'nib'

#events-list
  h2
    font-weight 500
    margin-top 0

  p
    color #444
    font-size 12px

  .day-header
    text-align center
    padding-top 0.5em
    padding-bottom 0.5em
    p
      margin 0
      font-weight bold

  table
    width 100%
    table-layout fixed

  tr
    user-select none
    cursor pointer
    background white
    border-bottom 1px solid #ccc
    word-wrap break-word

  td.time
    width 100px
    text-align center
    font-size 18px
    font-weight bold
    vertical-align top
    padding-top 18px

  td.info
    padding 18px 0 18px 0
