#events-list
  for day in days
    .day
      .day-header
        p Today
      .day-events
        ul
          for event in day
            li
              .event
                .time
                  p= event.get('date')
                .info
                  h2.name= event.get('name')
                  p.location= event.get('location')

