@import 'nib'

#events-list
  #loading, #no-events
    h2
      text-align center
      padding-top 30px
      color: #666
      text-shadow 0 1px #fff
  
  > h2
    font-weight 500
    margin-top 0

  p
    color #555
    font-size 12px

  .day-header
    text-align center
    padding 0.4em 0
    border-bottom: 1px solid #d2d0c6
    background: #ecf0f1
    
    p
      margin 0
      font-weight 600
      font-size 14px

  table
    width 100%
    table-layout fixed

  tr
    user-select none
    cursor pointer
    background white
    border-bottom 1px solid #d2d0c6
    word-wrap break-word
    
  td
    padding: 1.5em 0

  td.time
    width 100px
    text-align center
    font-size 18px
    font-weight bold
    vertical-align top
    padding-top: 1.3em
    color: #222
    
  td.time.starting-soon
    color: #bc3989
    
  td.info
    padding-right: 1.5em
    
#bottom-bar
  .events-list
    .button-right
      color #def5e3
      
      .icon
        line-height 46px
        font-size 18px
        
      span
        margin-left 5px
        text-shadow 0 2px 0 #577c5f
    
    .button-right.subscribed  
      background-color #689972
