#create-event
  margin auto
  width 100%
  max-width 640px

  form
    margin 10px

  label
    margin-top 2em
    display block

  input, textarea
    margin 5px
    width 100%
    display block
    border none
    padding 10px
    border-radius 5px
    box-shadow 0 0 3px #ccc

  .error
    box-shadow 0 0 3px #c00

  .date
    min-height 2em
    margin-bottom -2em

