#create-event
  form
    label What?
      input.what(type='text', placeholder='eg. Free pizza')
    textarea.description(placeholder='Some more information about the event')
    label When?
      input.when(type='text', placeholder='eg. tomorrow at 2pm')
    .date
    label Where?
      input.where(type='text', placeholder='eg. JCR')
    a(href='#') Create event

