#tagsort
  p Sort
    ul
      li.alphabetically
        a.selected(href='#') Alphabetically
      li.popularity
        a(href='#') By Popularity

#taglist
  ul.list
    - tags.each(function(tag) {
    - name = tag.get('tagName')
      li
        div.left
          label.name(for=name)= name
        div.right
          span.numEvents= 5
    - })