$horizontal_margin = 15px
$tagsort_height = 40px

#tagsort
  border-bottom: 1px solid #777
  background-color: #999
  height: $tagsort_height
  padding: 0 $horizontal_margin
  font-size: 85%
  line-height: 20px
  
  p
    font-weight: 500
    margin-right: 5px
  
  p, ul
    float: left
    margin-top: 1px
    
  p, li
    line-height: $tagsort_height
  
  li 
    display: inline
    margin-left: 5px
    
    a
      padding: 4px 10px
    
    a.selected
      box-shadow: 0 1px 0 #aaa
      background-color: #666
      border-radius: 12px

#taglist
  ul
    margin: 0
    
    li
      padding-left: 50px
      background #fff
      clear both
      height: 60px
      display: table
      width: 100%
      cursor: pointer
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      padding 0 20px
      border-bottom 1px solid #ccc
      
      label
        cursor: pointer
            
      div
        height: 50px
        display: table-cell
        vertical-align: middle
        
      div.left
        width: 90%
      div.right
        width: 10%
        text-align: right
        padding-right 20px
      .chevron
        color #888
      .check
        font-size 20px
        padding-right 20px
      .check:before
        width 20px