#tagsort
  p Sort
    ul
      li.alphabetically
        a.selected(href='#') Alphabetically
      li.popularity
        a(href='#') By Popularity

#taglist
  ul.list
    - tags.each(function(tag) {
    - name = tag.get('tagName')
      li
        input.checked(type='checkbox', name=name)
        label.name(for=name)= name
        span.numEvents= 5
    - })